<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
{{range $index, $el := .Hobbies}}
    <h1>{{$index}} - {{$el}}</h1>
{{else}}
    <h1>Anda tidak punya hoby</h1>
{{end}}
</body>
</html>